        .slider-hero {
            position: relative;
        }
        
        .ftco-section {
            padding: 7em 0;
        }
        
        .owl-carousel {
            position: relative;
        }
        
        .owl-carousel .owl-item {
            opacity: 1;
        }
        
        .owl-carousel .owl-item.active {
            opacity: 1;
        }
        
        .owl-carousel .owl-nav {
            position: absolute;
            top: 50%;
            width: 100%;
        }
        
        .owl-carousel .owl-nav .owl-prev,
        .owl-carousel .owl-nav .owl-next {
            position: absolute;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            margin-top: 0;
            color: white !important;
            -webkit-transition: 0.7s;
            -o-transition: 0.7s;
            transition: 0.7s;
            opacity: 1;
        }
        
        @media (prefers-reduced-motion: reduce) {
            .owl-carousel .owl-nav .owl-prev,
            .owl-carousel .owl-nav .owl-next {
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
            }
        }
        
        .owl-carousel .owl-nav .owl-prev span:before,
        .owl-carousel .owl-nav .owl-next span:before {
            font-size: 30px;
        }
        
        .owl-carousel .owl-nav .owl-prev {
            left: 20px;
        }
        
        .owl-carousel .owl-nav .owl-next {
            right: 20px;
        }
        
        .owl-carousel .owl-dots {
            text-align: center;
            margin-top: 0;
            position: absolute;
            bottom: 20px;
            right: 0;
            left: 0;
        }
        
        .owl-carousel .owl-dots .owl-dot {
            width: 10px;
            height: 10px;
            margin: 5px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.5);
            position: relative;
        }
        
        .owl-carousel .owl-dots .owl-dot:hover,
        .owl-carousel .owl-dots .owl-dot:focus {
            outline: none !important;
        }
        
        .owl-carousel .owl-dots .owl-dot.active {
            background: #ff5959;
        }
        
        .owl-carousel.owl-drag .owl-item {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
        }
        
        .owl-stage {
            transform: translate3d(-3330px, 0px, 0px);
            transition: all 1.5s ease 0s;
            width: 7770px;
        }
        
        .work {
            width: 100%;
        }
        
        .work .img {
            width: 100%;
            height: 600px;
            position: relative;
            z-index: 0;
            border-radius: 10px;
            overflow: hidden;
            -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
            -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
            box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
        }
        
        .work .img:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            z-index: -1;
            background: #000;
            opacity: .3;
        }
        
        .work .text h2 {
            font-size: 60px;
            font-weight: 200;
            color: #fff;
            text-transform: uppercase;
        }
        
        @media (max-width: 991.98px) {
            .work .text h2 {
                font-size: 40px;
            }
        }
        
        .work .text span {
            font-size: 12px;
            letter-spacing: 1px;
            color: rgba(0, 0, 0, 0.3);
            text-transform: uppercase;
            font-weight: 500;
        }
        
        .thumbnail {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            bottom: 0px;
            left: 50%;
            -webkit-transform: translateY(50%) translateX(-50%);
            -ms-transform: translateY(50%) translateX(-50%);
            transform: translateY(50%) translateX(-50%);
            z-index: 99;
            width: 100%;
        }
        
        .thumbnail li {
            display: inline-block;
        }
        
        .thumbnail li a {
            display: block;
            margin: 4px;
        }
        
        .thumbnail li a img {
            width: 80px;
            border-radius: 50%;
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
            -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        }
        
        .thumbnail li.active a img {
            border: 4px solid #fff;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        }
        
        @media (max-width: 767.98px) {
            .thumbnail li a img {
                width: 50px;
            }
        }